html {
  background: #FEF9CD;
}
div{
  /* height: 50%; */
}
body {
  margin: 0 auto;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 2rem;
  color: #c3423f;
  background-color: #FEF9CD;
  cursor: pointer;
}

header {
  font-family: 'BioRhyme', serif;
  font-size: 3rem;
  font-weight: bold;
  color: #5bc0eb;
  text-shadow: -2px -2px 2px #211a1e;
}

ul {
  /* display: flex; */
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  width: 90%;
  list-style-type: none;
  margin: 0 auto;
  padding: 4%;
}

li {
  border: 1px solid #9bc53d;
}


.done {
  opacity: 0.8;
}

.btn {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1rem;
  color: #c3423f;
  border: 1px;
  border-radius: 40%;
}

.btn:hover {
  color: #b6ba55;
  background-color: #6a6b54;
  transition: all 0.2s ease 0.1s;
}

/* input {
  font-family: 'Shadows Into Light', cursive;
  font-size: 1rem;
  color: #c3423f;
} */

/* input[type=submit]{
  font-family: 'Shadows Into Light', cursive;
  font-size: 2rem;
} */
.list-group {
  display: block;
  border: 2px solid #211a1e;
  border-radius: 3%;
  margin: 0 auto;
  width: 90%;
}

#addTodo {
  display: block;
  border: 1px solid #211a1e;
}

#todo-container {
  display: block;
  /* border: 1px solid #211a1e; */
}

#completed-container {
  display: block;
  padding: 2%;
  /* border: 1px solid #211a1e; */
}

select {
  appearance: none;
  border: 0;
}

sub {
  display: inline;
  color: #c3423f;
}

footer {
  font-size: 1rem;
}
