body {
  margin: 0 auto;
  text-align: center;
}

.list-group {
  display: block;
  border: 1px solid black;
}

#addTodo {
  display: block;
  border: 1px solid black;
}

#todo-container {
  display: block;
  border: 1px solid black;
}

#completed-container {
  display: block;
  border: 1px solid black;
}
